.advice__big-container {
  text-align: center;
}

.advice__big-container h1,
.advice__big-container h3 {
  text-align: center;
}

.advice__load-quote {
  color: #ffffff;
  background-color: rgb(85, 175, 211);
  outline: none;
  border: none;
  padding: 15px 15px 15px 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 400;
}
