.App {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)),
    url("./images/bg.jpg");
  padding-top: 140px;
  /* height used */
  background-size: cover !important;
  height: 66vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}
@media screen and (min-width: 230px) and (max-width: 400px) {
  .App {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)),
      url("./images/bg.jpg");
    height: 100vh;
  }
}
@media (max-width: 766px) {
  .App {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)),
      url("./images/bg.jpg");
    height: 70vh;
  }
}
